$bg: rgb(16,16,16);
.banner{
    height: 400px;
    background-color: $bg;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &::after{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: $bg;
        opacity: 0.4;
    }
    h1,p{
        color: white;
        font-size: 4rem;
        width: 50%;
        z-index : 10

    }
    p{
        font-size: 1rem;
        letter-spacing: 1px;
        word-spacing: 1px;
    }
    
}

.row{
    
    padding: 1rem;
    background-color: $bg;
    >h2{
        margin: 0.3rem;
        font-weight: 400;
    }
    > div{
        display: flex;
        overflow-x: auto;
    }

}
.card{
    width: 200px;
    margin: 0.3rem;
    cursor: pointer;
    transition: transform 0.5s;
    &:hover{
        transform: translateY(-10px) scale(1.05);
    }
}
.genreBox{
    overflow-x: auto;
    display: flex;
    height: 100px;
    background-color: $bg;
    >a{
        color: black;
        background-color: white;
        padding: 1rem 0;
        margin: 1rem;
        border-radius: 5px;
        text-align: center;
        min-width: 10rem;
        &:hover{
            background-color: #e2d7d7;
        }
    }
}